*.o
*.svn/ # svn ignores
*.svn
*.o.depends
*.swp
~.nib
*TemporaryItems
*TemporaryItems/*
*Build/*
*Builds/*
*build/*
*DerivedData
*Debug/*
*Release/*
*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3
xcuserdata
DerivedData